{% extends "base.html.twig" %}

{% block title %}21{% endblock %}

{% block content %}
<h1>Kortspelet 21</h1>
<div class="player game-board">
    <h5>Spelare 1</h5>
    {% for c in cardHand %}
    <div>
        {% if c.getColor() == "♥" or c.getColor() == "♦" %}
        <p class="card red color">{{ c.getColor() }} </p>
        <p class="card value">{{ c.getValue() }} </p>
        {% else %}
        <p class="card black color">{{ c.getColor() }} </p>
        <p class="card value">{{ c.getValue() }} </p>
        {% endif %}
    </div> 
    {% endfor %}
    <div>
        <p>Totala summan: {{ sum }}</p>
    </div>
    <form action="{{ url("game-draw") }}">
        <input type="submit" value="Dra ett till kort" />
    </form>
    <button>Stanna</button>
</div>


<div class="bank game-board">
    <h5>Datorn</h5>
</div>

{% endblock %}