{% extends 'base.html.twig' %}

{% block title %}Add book{% endblock %}

{% block content %}

<div class="container">
    <h1>Update book</h1>
    <form action="{{ path('book_update_by_id', {'id': book.getId()}) }}"  method="post">
<fieldset>
    <label>Title</label>
    <input type="text" name="title" value="{{ book.getTitle() }}">
    <label>Author</label>
    <input type="text" name="author" value="{{ book.getAuthor() }}">
    <label>ISBN</label>
    <input type="text" name="isbn" value="{{ book.getISBN() }}">
    <label>Image</label>
    <input type="text" name="image_url" value="{{ book.getImage() }}">
    <input type="submit" value="Update">
</fieldset>
    </form>
</div>
{% endblock %}
